<!DOCTYPE html>
<html>
<head>
   <title>new user</title>
    
</head>
<body>
    <h1>Add user</h1>
    <form action="" >
        <input type="text" id="name" />
        <input type="text" id="username"/>
        <button>Add user</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function(){
            var socket = io();
        $('form').submit(function(e){
            e.preventDefault();
            const obj ={
            name:$('#name').val(),    
            username:$('#username').val()}
            socket.emit('newUser',obj)
            $('#username').val('')
            $('#name').val('')
                
            return false
        })
        })
        
    </script>
</body>
</html>